* {
    margin: 0;
    padding: 0; 
}




*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
    

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: #f4f2f2;
    box-shadow: 0 2rem 6rem rgba(0,0,0, .3);
    min-height: 50rem;
}

.content {
    display: flex;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: #f4f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    background-color: rgb(73, 71, 71);
    flex: 0 0 18%;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-info {
    background-color: rgb(204, 190, 190);
    flex: 1;
}

.logo {
    max-width: 200px;
   
}

.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: rgba(248, 241, 238, 0.774);
}

.side-nav-link, a:link, a:visited {
    color: antiquewhite;
    text-decoration: none;
    font-size: 2rem;

    display: flex;
    align-items: center;

    

    
}

.side-nav {
    font-size: 1.5rem;
    list-style: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    
}

h1 {
    font-family: 'Cormorant SC', serif;
    font-size: 5rem;
    color: rgb(1, 12, 12);
    letter-spacing: normal;
    text-shadow: black;
}

.paul {
    display: flex;
    justify-content: center;
    background-color: rgb(229, 213, 213)
}

h2 {
    font-family: 'Cormorant SC', serif;
    font-size: 3rem;
}

