* {
    margin: 0;
    padding: 0; 
}




*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
    

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: #f4f2f2;
    box-shadow: 0 2rem 6rem rgba(0,0,0, .3);
    min-height: 50rem;
}

.content {
    display: flex;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: #f4f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.sidebar {
    background-color: rgb(73, 71, 71);
    flex: 0 0 18%;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-info {
    background-color: rgb(204, 190, 190);
    min-height: 50rem;
    flex: 1;
}

.logo {
    max-width: 200px;
   
}

.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: rgba(248, 241, 238, 0.774);
}

.side-nav-link, a:link, a:visited {
    color: antiquewhite;
    text-decoration: none;
    font-size: 2rem;

    display: flex;
    align-items: center;

    

    
}

.side-nav {
    font-size: 1.5rem;
    list-style: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    
}

h1 {
    font-family: 'Cormorant SC', serif;
    font-size: 5rem;
    color: rgb(1, 12, 12);
    letter-spacing: normal;
    text-shadow: black;
}

.About-Me {
    font-family: 'Cormorant SC', serif;
    font-size: 5rem;
    color: rgb(1, 12, 12);
    letter-spacing: normal;
    text-shadow: black;
    display: flex;
    justify-content: center;
}

.about-para {
    font-family: 'Open Sans', sans-serif;
    color: rgb(1, 12, 12);
    letter-spacing: normal;
    font-size: 1.5rem;
    display: block;
    max-width: 150rem;
    height: 800px;
    margin-left: 20rem;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 10px;
    

}

.statement {
    display: flex;
    justify-content: space-between;
    color: rgb(1, 12, 12);
    margin-bottom: 20px;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;

}

.contact, a:link, a:visited {
    text-decoration: none;
    font-size: 1.7rem;
    color: rgb(1, 12, 12);
    font-family: 'Roboto', sans-serif;
    margin-left: 1.2rem;
}

h3 {
    font-family: 'Cormorant SC', serif;
    font-size: 5rem;
    color: rgb(1, 12, 12);
    letter-spacing: normal;
    text-shadow: black;
    display: flex;
    justify-content: center;
}

h4 {
    font-family: 'Cormorant SC', serif;
    color: rgb(1, 12, 12);
    font-size: 2rem;
    margin-left: 2rem;
}


.utility {

    color: rgb(1, 12, 12);
    margin-bottom: 20px;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
   
}

.paul {
    display: flex;
    justify-content: center;
    background-color: rgb(229, 213, 213)
}



.skills {
    background-color: #fff;
    display: flex;
    justify-content: center;
    min-height: 50rem;

}

button {
    border-radius: 2px;
}

table {
    border-spacing: 1rem;
}

td {
    padding: 0.5rem;
    border-radius: 0.5px;
  
    
}

td:nth-child(1) { background: hsl(150, 50%, 50%); }
td:nth-child(2) { background: hsl(160, 60%, 50%); }
td:nth-child(3) { background: hsl(170, 70%, 50%); }
td:nth-child(4) { background: hsl(180, 80%, 50%); }
td:nth-child(5) { background: hsl(190, 90%, 50%); }
td:nth-child(6) { background: hsl(200, 99%, 50%); }
td:nth-child(7) { background:hsl(288, 61%, 64%)}
td:nth-child(8) { background:hsl(130, 72%, 44%)}
td:nth-child(9) { background:hsl(310, 33%, 39%)}
td:nth-child(10) { background:hsl(288, 4%, 26%)}
td:nth-child(11) { background:hsl(86, 96%, 44%)}
td:nth-child(12) { background:hsl(261, 90%, 36%)}
td:nth-child(13) { background:hsl(261, 39%, 66%)}
td:nth-child(14) { background:hsl(187, 73%, 55%)}
td:nth-child(15) { background:hsl(226, 61%, 78%)}
td:nth-child(16) { background:hsl(71, 65%, 75%)}
td:nth-child(17) { background:hsl(186, 41%, 68%)}
td:nth-child(18) { background:hsl(182, 97%, 54%)}

caption {
    font-family: 'Cormorant SC', serif;
    font-size: 2rem;
    text-align: center;
    color: rgb(1, 12, 12);
    letter-spacing: normal;
}
  


/*
   media queries 


*/

@media screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }
    .container {
        margin-right: -111px;
    }

    td {
        display: flex;
    }

    .about-para {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100rem;
        height: auto;
        text-align: center;
        margin-left: -150px;
    }

}








